pkgbase = opengg-bin
	pkgdesc = Open-source Linux gaming hub — OpenGG
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/UPdullah895/opengg
	install = opengg.install
	arch = x86_64
	license = MIT
	depends = pipewire
	depends = wireplumber
	depends = ffmpeg
	depends = gstreamer
	depends = webkit2gtk-4.1
	optdepends = polkit: for privileged device setup
	provides = opengg
	conflicts = opengg
	source = https://github.com/UPdullah895/opengg/releases/download/v0.1.2/OpenGG-v0.1.2-x86_64.AppImage
	source = 99-opengg.rules
	source = openggd.service
	source = org.opengg.Daemon.service
	source = org.opengg.setup.policy
	sha256sums = SKIP
	sha256sums = 20ddc5f9411a643d12ee9ce4f74a7101830539d3f527b0ca479b2a9a010f75fd
	sha256sums = 16ba21359a6d718cbb5dc082d4a615fad7dd27aa35080af1bf955080d6e08317
	sha256sums = b129b4d1246e152410d245ec92ff94aa9ecceab5d65a70d3f3e1d3f04771a291
	sha256sums = 6b748a6f7f2de8673ed6e90f3bfe5ca053de416bbfb19038e59585e98f74a61b

pkgname = opengg-bin
