[Desktop Entry]
Name=OpenGG
Comment=Open-source Linux gaming hub
Exec=opengg
Icon=opengg
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=gaming;audio;clips;recorder;mixer;controller;linux;
